aiocontextvars==0.2.2
aiofiles==0.5.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
contextvars==2.4
crossplane==0.5.6
dataclasses==0.7
fastapi==0.60.1
h11==0.9.0
httptools==0.1.1
idna==2.10
immutables==0.14
loguru==0.5.1
pydantic==1.6.1
python-multipart==0.0.5
requests==2.24.0
six==1.15.0
starlette==0.13.6
urllib3==1.25.10
uvicorn==0.11.8
uvloop==0.14.0
websocket-client==0.57.0
websockets==8.1
